<div class="container" >
    <h1>Registered Users</h1>
    <div class="alert alert-success" *ngIf="deleteMessage">{{deleteMessage}}</div>
    <table class="table" >
        <thead>
            <tr>
                <th>Sr. No</th>
                <th>Username</th>
                <!-- <th>Role</th> -->
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users | paginate:{itemsPerPage: 10, currentPage:p} ; let i = index ">
                <td>{{i+1}}</td>
                <td>{{user.username}}</td>
                <!-- <td>User</td> -->
                <td><button *ngIf="user.username!='admin'" (click)="deleteUser(user.id)" class="btn btn-warning">Delete</button></td> 
                <!-- <td><button (click)="updateTodo(todo.id)" class="btn btn-success">Update</button></td>-->
            </tr>
        </tbody>
    </table>
            
    <pagination-controls class="d-flex justify-content-end" (pageChange)="p=$event"></pagination-controls>

    <!-- <div class="row">
        <button (click)="addTodo()" class="btn btn-primary">Add Todo</button>
    </div> -->
</div>