<div class="container">
    <div class="row mt-5">
    <h1>India's Most-loved Payments App</h1>
    <p>Recharge mobile ( Postpaid and Prepaid ), DTH , Broadband / Landline and do a lot more.</p>
    </div>
    <div class="row navbar navbar-expand-md">
        <ul class="navbar-nav" routerLink="/mobile">
            <li class="border">
                <img src="assets/images/logo/mobile.png" alt="Mobile" class="m-4" height="100">
                <a routerLink="/mobile" class="text-dark nav-link ml-4">Mobile</a>
            </li>
            <li class="border" routerLink="/dth">
                <img src="assets/images/logo/dth.png" alt="Mobile" class="m-4" height="100">
                <a routerLink="/dth" class="text-dark nav-link ml-4">DTH</a>
            </li>
            <li class="border" routerLink="/broadband" > 
                <img src="assets/images/logo/landline.jpg" alt="Mobile" class="m-4" height="100">
                <a routerLink="/broadband" class="text-dark nav-link ml-4">Broadband</a>
            </li>
            <li class="border" routerLink="/electricity" > 
                <img src="assets/images/logo/elec.png" alt="Mobile" class="m-4" height="100">
                <a routerLink="/electricity" class="text-dark nav-link ml-4">Electricity</a>
            </li>
            <li class="border" routerLink="/gas" > 
                <img src="assets/images/logo/Gas.png" alt="Mobile" class="m-4" height="100">
                <a routerLink="/gas" class="text-dark nav-link ml-4">Gas</a>
            </li>
        </ul>
    </div>
</div>
