<div class="container mt-5">
  <div
    style="background-color: #eee"
    class="w-100 p-4 d-flex justify-content-center pb-4 border"
  >
    <form
      #paymentForm="ngForm"
      (ngSubmit)="!paymentForm.invalid && submitPayment()"
    >
      <p class="text-center h5 fw-bold mb-5 mx-1 mx-md-4 mt-4">Payment</p>

      <div
        class="alert alert-warning"
        *ngIf="paymentForm.dirty && paymentForm.invalid"
      >
        Please fill all details before payment
      </div>

      <div
        class="alert alert-warning"
        *ngIf="cardTypeForm.dirty && cardTypeForm.invalid"
      >
        Please select card type
      </div>

      <div class="form-outline mb-4 row">
        <label class="col form-label ml-2 mr-4"
          ><input
            type="radio"
            name="cardType"
            value="Debit"
            required="required"
            [(ngModel)]="cardType"
            #cardTypeForm="ngModel"
          />&nbsp;Debit card</label
        >
        <label class="col form-label ml-2 mr-4"
          ><input
            type="radio"
            name="cardType"
            value="Credit"
            required="required"
            [(ngModel)]="cardType"
            #cardTypeForm="ngModel"
          />&nbsp;Credit card</label
        >
      </div>

      <div class="form-outline mb-4 row">
        <label class="form-label">Card number</label>
        <input
          type="text"
          name="cardNumber"
          (keypress)="numberOnly($event)"
          class="form-control"
          minlength="12"
          maxlength="12"
          [(ngModel)]="cardNumber"
          #cardNumberForm="ngModel"
          required="required"
        />
      </div>

      <div
        class="alert alert-warning"
        *ngIf="cardNumberForm.dirty && cardNumberForm.invalid"
      >
        Enter 12 digit card number
      </div>

      <div class="form-outline mb-4 row">
        <label class="col form-label"
          >Expiry Month
          <select
            class="ml-2 mr-4"
            required="required"
            [(ngModel)]="expiryMonth"
            #expiryMonthForm="ngModel"
            name="month"
          >
            <option *ngFor="let month of months" [ngValue]="month">
              {{ month }}
            </option>
          </select>
        </label>
        <label class="col form-label"
          >Expiry Year
          <select
            class="ml-2 mr-4"
            required="required"
            [(ngModel)]="expiryYear"
            #expiryYearForm="ngModel"
            name="year"
          >
            <option *ngFor="let year of years" [ngValue]="year">
              {{ year }}
            </option>
          </select>
        </label>
      </div>

      <div class="form-outline mb-4 row">
        <label class="form-label">CVV</label>
        <input
          type="text"
          name="cvv"
          class="form-control"
          minlength="3"
          maxlength="3"
          (keypress)="numberOnly($event)"
          [(ngModel)]="cvv"
          #cvvForm="ngModel"
          required="required"
        />
      </div>

      <div class="alert alert-warning" *ngIf="cvvForm.dirty && cvvForm.invalid">
        Enter 3 digit cvv number
      </div>

      <button type="submit" class="btn btn-primary mb-4">
        Proceed to Payment
      </button>
    </form>
  </div>
</div>
